
.Cropinformation img {
  max-width: 450px;
  min-width: 450px;
  max-height: 200px;
  min-height: 200px;
  border-radius: 20%;

}

.Image_icons {
  display: flex;
  flex-direction: row ;
  align-items: center;
  justify-content: center;
  padding-left: 60px;
}


.Image_icons p {
 
  position: relative; right: 100px; top: 80px;
}

.Image_icons img {
  padding-right: 40px;
  padding-top: 20px;
}

.Cropinformation p {
  max-width: 700px;
  min-width: 700px;
  min-height: 50px;
  max-height: 50px;
  position: relative; left: 30px;
}


.Caption h1 {
  font-size: 30px;
  margin-bottom: 1rem;
  text-align: center;

}

.Cropshow-container {
  text-align: center;
  font-size: 15px;
}

.CropNavigationbtn button {
  font-size: 11px;
  padding: 3px 10px; 
  text-transform: none;
  margin-top: 50px;
  margin-right: 20px;

  }
  
  #maintenance-cost .MuiTooltip-tooltip {
    font-size: 15px;
    background-color: #0067b1;
  }


  #Yield .MuiTooltip-tooltip {
    font-size: 15px;
    background-color: #0067b1;
  }

  #Growth-time .MuiTooltip-tooltip {
    font-size: 15px;
    background-color: #0067b1;
  }



  
  @media only screen and (max-width: 1000px){
    

    .Cropshow-container{
      display: flex;
      flex-direction: column;
      
    }
  
    .Image_icons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: inherit;
    }
    .Cropinformation h1{
        font-size: 25px;
        position: relative ; bottom: 20px;
        position: inherit;
    }
  .Cropinformation img{
         min-width: 130px;
         max-width: 130px;
         min-height: 130px;
         max-height: 130px;
         position: inherit; right:100px;

  }

  .Cropinformation p{
    min-width: 200px;
    max-width: 200px;
    max-height: 70px;
    min-height: 100px;
    position: relative; left: 180px; bottom: 160px;
  }


  .CropNavigationbtn button{
   max-height: 23px;
   position: inherit;
  }


.CropNavigationbtn button {
  position: relative; bottom: 120px;
  margin-right: 20px;

  }

  .Image_icons img {
    width: 50px;
    height: 50px;
    position: inherit;

  }






  }