@media only screen and (max-width: 1000px) {
  .page_content{
    flex-direction: column;
    margin-top: 40px;
    column-gap: 0px;
    row-gap: 40px;
    margin-bottom: 40px;
  }
  .page_box{
    margin: auto !important;
  }
}