.cropInfo {
}

.cropInfoBox{
    width: 80%;
    margin-left: 10%;
    border: 1px solid black;
    border-radius: 10px;
    height: 60px;
    margin-top: 2.5%;
}
.column {
    float: left;
    height: 60px;
}

.cropRank, .cropImage{
    width: 10%;
    border-right: 1px solid black;
}

.cropInfo {
    width: 70%;
}

.cropInfo p {
    margin: auto;
    padding-top: 20px;
}
