.cropInfo {
}

body{
    font-family: Microsoft Yahei, serif;
}

.cropInfoBox{
    width: 80%;
    margin-left: 10%;
    border: 1px solid black;
    border-radius: 20px;
    height: 95px;
    margin-top: 2.5%;
    position: relative;
}
.column {
    float: left;
    height: 95px;
}

.cropRank, .cropImage{
    width: 90px;
    border-right: 1px solid black;
}

.cropInfo{
    width: 55%;
    padding-left: 2.5%;
}

.cropInfo h3{
    width: 30%;
}
.cropInfo h3{
    margin-top:  0;
    margin-bottom: 0;
    padding-bottom: 0;
    
}

.cropGrowthTime{
    border-left: 1px solid black;
}

.cropInfo p {
    float: left;
    width: 100%;
    margin: auto;
    padding-bottom: 5px;
    height: 40px;
    overflow: hidden;
    line-height: 1.4em;
}

.cropIdealConditions{
    font-size: 0.8em;
}


.cropRank {
    text-align: center;
    /*background-color: #007aff;*/
    border-radius: 18px  0  0 18px;

}

.cropRankValue0{

    color:#23EB00;
}
.cropRankValue1{

    color:#B0FA00;
}
.cropRankValue2{

    color:#D4EB00;
}
.cropRankValue3{

    color:#EBA900;
}
.cropRankValue4{

    color:#F05001;
}

.test {
    float: left;
    width: 200px;
    background-color: white;
    z-index: 9;
    position: absolute;
    border: solid #0067b1;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px;
}
.test p{
    text-align: center;
    vertical-align: middle;
    padding-left: 3px;
    padding-right: 3px;
    
    
}

.cropInfo h3{
    width: 100%;
}

.cropGrowthTime p {
    width: 100%;
    font-size: 0.7em;
    margin: auto;
    margin-left: 15%;
    text-align: center;
}
.imgTimer{
    margin-left: 30%;
    margin-top: 15%;
}

.suitable_crops_box{
    overflow: scroll;
    overflow-x: hidden;
}

.tooltip{
    list-style-type: none;
    float: left;
    margin-left: 15%;
}

.suitable_crops_box h1{
    text-align: center;    
}

.cropInfoLink{
    text-decoration: none;
}